In [11]:
# Importing all necessary modules
import numpy as np
import pandas as pd
import nltk
from wordcloud import WordCloud, STOPWORDS 
import matplotlib.pyplot as plt

In [21]:
# Set seed for reproducibility
np.random.seed(5)

# Read the poem data 
poems_df = pd.read_csv('all.csv')

print("Number of poems loaded: %s " % (len(poems_df)))

#Remove duplicates
poems_df = poems_df.drop_duplicates(subset='poem name', keep="last")

print("Number of poems loaded after removing duplicates: %s " % (len(poems_df)))

# Display the data
poems_df.head()

Number of poems loaded: 573
Number of poems loaded after removing duplicates: 509

,author,content,poem name,age,type
1,DUCHESS OF NEWCASTLE MARGARET CAVENDISH,"Sir Charles into my chamber coming in,\nWhen I...",An Epilogue to the Above,Renaissance,Mythology & Folklore
2,THOMAS BASTARD,"Our vice runs beyond all that old men saw,\nAn...","Book 7, Epigram 42",Renaissance,Mythology & Folklore
3,EDMUND SPENSER,"Lo I the man, whose Muse whilome did maske,\nA...","from The Faerie Queene: Book I, Canto I",Renaissance,Mythology & Folklore
8,JOHN DONNE,"When by thy scorn, O murd'ress, I am dead\n ...",The Apparition,Renaissance,Mythology & Folklore
9,JOHN SKELTON,"Pla ce bo,\nWho is there, who?\nDi le xi,\nDam...",The Book of Phillip Sparrow,Renaissance,Mythology & Folklore

In [13]:
# handling missing datas
poems_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 509 entries, 1 to 572
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   author     509 non-null    object
 1   content    509 non-null    object
 2   poem name  508 non-null    object
 3   age        509 non-null    object
 4   type       509 non-null    object
dtypes: object(5)
memory usage: 23.9+ KB

In [14]:
poems_df[poems_df['poem name'].isnull()]

,author,content,poem name,age,type
489,RICHARD ALDINGTON,The ancient songs\nPass deathward mournfully.\...,NaN,Modern,Nature

In [15]:
# removing null values

poems_df = poems_df[pd.notnull(poems_df['poem name'])]

poems_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 508 entries, 1 to 572
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   author     508 non-null    object
 1   content    508 non-null    object
 2   poem name  508 non-null    object
 3   age        508 non-null    object
 4   type       508 non-null    object
dtypes: object(5)
memory usage: 23.8+ KB

In [18]:
poems_df['ori_content']=poems_df['content']
poems_df['ori_content'].head(15)

1     Sir Charles into my chamber coming in,\nWhen I...
2     Our vice runs beyond all that old men saw,\nAn...
3     Lo I the man, whose Muse whilome did maske,\nA...
8     When by thy scorn, O murd'ress, I am dead\n   ...
9     Pla ce bo,\nWho is there, who?\nDi le xi,\nDam...
10    Ye learned sisters which have oftentimes\nBeen...
12    By that he ended had his ghostly sermon,\nThe ...
20    The welcome Sun from sea Freake is returned,\n...
21    I met a courtier riding on the plain,\nWell-mo...
22    Walking the fields a wantcatcher I spied,\nTo ...
23    Fishing, if I a fisher may protest,\nOf pleasu...
25    Januarie. gloga prima. ARGVMENT.\n\n    IN thi...
26    Where the bee sucks, there suck I:\nIn a cowsl...
28    As I in hoary winters night stood shivering in...
29    Care for thy soul as thing of greatest price,\...
Name: ori_content, dtype: object

In [19]:
#replacing newlines
print(poems_df["content"].iloc[0].replace("<br/>","\n"))

Sir Charles into my chamber coming in,
When I was writing of my Fairy Queen;
I praysaid hewhen Queen Mab you do see
Present my service to her Majesty:
And tell her I have heard Fame's loud report
Both of her beauty and her stately court.
When I Queen Mab within my fancy viewed,
My thoughts bowed low, fearing I should be rude;
Kissing her garment thin which fancy made,
I knelt upon a thought, like one that prayed;
And then, in whispers soft, I did present
His humble service which in mirth was sent;
Thus by imagination I have been
In Fairy court and seen the Fairy Queen.

In [20]:
poems_df.to_csv('poem_cleaned.csv')