In [1]:
import numpy as np
import pandas as pd

In [8]:
# Set seed for reproducibility
np.random.seed(5)

# Read the poem data 
poems3_df = pd.read_csv('cluster_mini.csv')

print("Number of poems loaded: %s " % (len(poems3_df)))
poems3_df = poems3_df.drop_duplicates(subset='poem name', keep="last")
# Display the data
poems3_df.head()

Number of poems loaded: 13

,Unnamed: 0,ID,author,content,poem name,age,type,ori_content,con,cluster_Mini,cluster_KMeans
0,12,26,WILLIAM SHAKESPEARE,bee sucks suck cowslips bell lie couch owns cr...,"Song: Where the bee sucks, there suck I",Renaissance,Nature,"Where the bee sucks, there suck I:\nIn a cowsl...",bee suck suck cowslip bell lie couch owns cry ...,4,13
1,152,183,WILLIAM SHAKESPEARE,shall compare thee summer day thou art lovely ...,Sonnet 18: Shall I compare thee to a summers day?,Renaissance,Love,Shall I compare thee to a summers day?\nThou a...,shall compare thee summer day thou art lovely ...,4,59
2,156,187,WILLIAM SHAKESPEARE,marble gilded monuments princes shall outlive ...,Sonnet 55: Not marble nor the gilded monuments,Renaissance,Love,Not marble nor the gilded monuments\nOf prince...,marble gilded monument prince shall outlive po...,4,13
3,158,189,WILLIAM SHAKESPEARE,since brass stone earth boundless sea sad mort...,"Sonnet 65: Since brass, nor stone, nor earth, ...",Renaissance,Love,"Since brass, nor stone, nor earth, nor boundle...",since brass stone earth boundless sea sad mort...,4,13
4,191,222,EDMUND SPENSER,one day wrote name upon strand came waves wash...,Amoretti LXXV: One Day I Wrote her Name,Renaissance,Love,"One day I wrote her name upon the strand,\nBut...",one day wrote name upon strand came wave washe...,4,13

In [9]:
import math
from collections import Counter
import re
WORD = re.compile(r"\w+")


def get_cosine(vec1, vec2):
    intersection = set(vec1.keys()) & set(vec2.keys())
    numerator = sum([vec1[x] * vec2[x] for x in intersection])

    sum1 = sum([vec1[x] ** 2 for x in list(vec1.keys())])
    sum2 = sum([vec2[x] ** 2 for x in list(vec2.keys())])
    denominator = math.sqrt(sum1) * math.sqrt(sum2)

    if not denominator:
        return 0.0
    else:
        return float(numerator) / denominator


def text_to_vector(text):
    words = WORD.findall(text)
    return Counter(words)

In [10]:
average=0
total=0
no=12
for a in range(0,no):
    #print(poems3_df['ID'].iloc[a])
    text1=poems3_df['ori_content'].iloc[a]
    for b in range(0,no):
        text2=poems3_df['ori_content'].iloc[b]
        vector1 = text_to_vector(text1)
        vector2 = text_to_vector(text2)
        cosine = get_cosine(vector1, vector2)
        #print("Cosine:", cosine)
        total=total+cosine
        b=b+1
    total=total/no
    print("TotalAv:", total)
    average=average+total
ave=average/no
print("****************************")
print("Average:",ave)

TotalAv: 0.30516411539529226
TotalAv: 0.340394629755946
TotalAv: 0.4195785256707066
TotalAv: 0.28157869159365256
TotalAv: 0.4253126111918513
TotalAv: 0.32700725054459373
TotalAv: 0.277924751029792
TotalAv: 0.38045934921922203
TotalAv: 0.2712207284637573
TotalAv: 0.32849049170536443
TotalAv: 0.4141825301078848
TotalAv: 0.4528919275739803
****************************
Average: 0.3520171335210036

In [11]:
# Set seed for reproducibility
np.random.seed(5)

# Read the poem data 
poems3_df = pd.read_csv('cluster_KMeans.csv')

print("Number of poems loaded: %s " % (len(poems3_df)))
poems3_df = poems3_df.drop_duplicates(subset='poem name', keep="last")
# Display the data
poems3_df.head()

Number of poems loaded: 11

,Unnamed: 0,ID,author,content,poem name,age,type,ori_content,con,cluster_Mini,cluster_KMeans
0,305,343,EZRA POUND,santo iii appeared july issue poetry originall...,Three Cantos,Modern,Mythology & Folklore,"Canto III appeared in the July, 1917 issue of ...",santo iii appeared july issue poetry originall...,87,15
1,315,361,WILLIAM BUTLER YEATS,although hide ebb flow pale tide moon set peop...,The Fish,Modern,Nature,Although you hide in the ebb and flow\nOf the ...,although hide ebb flow pale tide moon set peop...,87,15
2,348,399,GEORGE SANTAYANA,low sandy beach thin scrub pine wide reach bay...,Cape Cod,Modern,Nature,"The low sandy beach and the thin scrub pine,\n...",low sandy beach thin scrub pine wide reach bay...,87,15
3,390,446,CARL SANDBURG,fog comes little cat feet sits looking harbor ...,Fog,Modern,Nature,The fog comes\non little cat feet.\n\nIt sits ...,fog come little cat foot sits looking harbor c...,87,15
4,394,451,E. E. CUMMINGS,spring world mud lustrous little lame balloonm...,[in Just-],Modern,Nature,in Just-\nspring when the world is mu...,spring world mud lustrous little lame balloonm...,87,15

In [12]:
average=0
total=0
no=10
for a in range(0,no):
    #print(poems3_df['ID'].iloc[a])
    text1=poems3_df['ori_content'].iloc[a]
    for b in range(0,no):
        text2=poems3_df['ori_content'].iloc[b]
        vector1 = text_to_vector(text1)
        vector2 = text_to_vector(text2)
        cosine = get_cosine(vector1, vector2)
        #print("Cosine:", cosine)
        total=total+cosine
        b=b+1
    total=total/no
    print("TotalAv:", total)
    average=average+total
ave=average/no
print("****************************")
print("Average:",ave)

TotalAv: 0.49611974817773125
TotalAv: 0.4752817329925604
TotalAv: 0.5170739277519929
TotalAv: 0.2716049940627601
TotalAv: 0.410954749827437
TotalAv: 0.22580227945733453
TotalAv: 0.4303500565064337
TotalAv: 0.4641348723712754
TotalAv: 0.46033776312701036
TotalAv: 0.23593654743646617
****************************
Average: 0.3987596671711001

In [72]:
# Set seed for reproducibility
np.random.seed(5)

# Read the poem data 
poems_df = pd.read_csv('poem_cluster_2.csv')
poems_df.head()
header = ["ID","author","poem name","age","type","ori_content","cluster_KMeans"]
poems_df.to_csv('poem_cluster.csv', columns = header)